.News-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  width: 25vw;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.News {
  margin-bottom: 1vh;
}

.News-empty {
  margin: auto;
  height: 200px;
  width: 200px;
  background-image: url("./media/icons8-news.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}